{% extends 'index.html' %}
{% load dss_extras %}

{% block navbar_user %}
<a class="nav-link" href="{% url 'dashboard:cart' %}">
   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
   <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
   </svg>
    Keranjang
</a>
<li class="nav-item dropdown">
   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      {{ user|only_username }}
   </a>
   <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="{% url 'dashboard:profile' %}">Profile</a></li>
      <li><a class="dropdown-item" href="{% url 'dashboard:logout' %}">Logout</a></li>
   </ul>
</li>
{% endblock navbar_user %}

{% block contents %}
{% if preference_empty %}
<div class="alert alert-danger" role="alert">
   <h4 class="alert-heading">Preferensi Spesifikasi Smartphone Belum Dipilih!</h4>
   <p>Untuk dapat melakukan proses pencarian smartphone, pengguna memilih preferensi terlebih dahulu</p>
   <hr>
   <p class="mb-0">Klik di sini untuk mengisi <a href="{% url 'dashboard:register_preference' %}">preferensi
         smartphone</a></p>
</div>
{% endif %}

{% if message %}
   <div class="alert alert-danger alert-dismissible fade show m-auto justify-content-center" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
{% endif %}

{% if not preference_empty %}
<div class="container-fluid col-sm-10 my-3">
   <div class="row">
      <form action="" method="post">
         {% csrf_token %}
         <div class="row d-flex">
            <div class="form-group align-center">
               <input type="searchbar" class="form-control" name="searchbar" id="searchbar"
                  aria-describedby="searchbarHelpId" placeholder="Cari nama smartphone">
            </div>
            {% comment %} <button type="submit" class="btn btn-search btn-primary col-4 mt-0">Search</button> {% endcomment %}
         </div>
      </form>
   </div>
</div>
{% endif %}

{% comment %} <div class="container-fluid col-12 text-center d-flex"> {% endcomment %}
   <div class="row text-center d-flex justify-content-center m-auto" id="items-container">
      {% for smartphone in smartphones %}
      <div class="card mb-3 col-sm-6 col-lg-4" style="max-width: 540px;">
         <div class="row g-0 d-flex">
            <div class="col-4 d-flex align-items-center">
               <img src="{{ smartphone.img_url }}" alt="..." class="p-3 img-fluid">
            </div>
            <div class="col-8">
               <div class="card-body">
               <h5 class="card-title">{{ smartphone.name }}</h5>
               <p class="m-0 p-0">RAM {{ smartphone.ram|to_int }} GB | Storage {{ smartphone.storage|to_int }} GB</p>
               <p class="m-0 p-0">Kamera {{ smartphone.main_cam|to_int }} MP dan {{ smartphone.selfie_cam|to_int }} MP</p>
               <p class="m-0 p-0">CPU {{ smartphone.cpu|to_int }} GHz</p>
               <p class="m-0 p-0">Baterai {{ smartphone.battery|to_int }} mAh</p>
               {% comment %} <p class="card-text"></p>
               <p class="card-text"></p> {% endcomment %}
               <a class="btn btn-primary mt-2" href="{% url 'dashboard:insert_to_cart' %}?smartphone_id={{ smartphone.id }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                     <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                  </svg>
                  Keranjang
               </a>
               </div>
            </div>
         </div>
      </div>
      {% endfor %}
   {% comment %} </div> {% endcomment %}
</div>

<canvas id="myChart"></canvas>

<script>
   var searchbar = document.getElementById("searchbar");
   var itemsContainer = document.getElementById("items-container");
   searchbar.addEventListener('keyup', function(){
      var xhr = new XMLHttpRequest() 
      xhr.onreadystatechange = function(){
         console.log("State is ready!")
         if(xhr.readyState == 4 && xhr.status == 200){
            {% comment %} console.log("AJAX READY"); {% endcomment %}
            var data = JSON.parse(xhr.responseText)["smartphones"]
            var smartphones = JSON.parse(data)
            if(smartphones.length == 0){
               itemsContainer.innerHTML = `
               <div class="alert alert-danger alert-dismissible fade show m-auto justify-content-center" role="alert">
                  <strong>Smartphone tidak ditemukan!</strong> silahkan coba kata kunci lain.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
               </div>`;
            }else{
               console.log(smartphones[0])
               text = ""
               smartphones.forEach(obj => {
                  text += `<div class="card col-5 col-sm-3 col-md-2 m-0 p-3">
                              <img src="${obj.fields.img_url}" class="card-img-top" alt="...">
                              <div class="card-body">
                                 <h5 class="card-title">${obj.fields.name}</h5>
                                 <p class="card-text">RAM ${obj.fields.ram} GB | Storage ${obj.fields.storage} GB</p>
                                 <a class="btn btn-primary mt-2" href="{% url 'dashboard:insert_to_cart' %}?smartphone_id=${obj.pk}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                                       <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                                    </svg>
                                    Keranjang
                                 </a>
                              </div>
                           </div>`
               })
               itemsContainer.innerHTML = text
            }
         }
      }
      xhr.open('GET', 'http://localhost:8000/dashboard/get_smartphones?search_key=' + searchbar.value, true);
      xhr.send();
   });

   {% comment %} addToCartBtns = document.querySelectorAll(".btn-insert-to-cart");
   addToCartBtns.forEach(function callback(value, index){
      addToCartBtns[index].addEventListener('click', function(){
         var xhr = new XMLHttpRequest()
         console.log(xhr.onreadystatechange);
         xhr.onreadystatechange = function(){
            if( xhr.readyState == 4 && xhr.status == 200 ){
               console.log("XHR Ready")
            }
         }
         console.log(addToCartBtns[index].getAttribute("data-smartphone-id"))
      });
    }); {% endcomment %}

</script>
{% endblock contents %}

{% block js_extras %}
{% endblock js_extras %}