{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page_title }}</title>
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
  {% block header_extras %}{% endblock header_extras %}
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand" href="{% url 'dashboard:index' %}">SmartphoneDSS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% block navbar_user %}
          {% endblock navbar_user %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid col-8 text-center">
    <h1>{{ page_title }}</h1>
    <h3>User: {{ user }}</h3>
  </div>

  {% block contents %}
  <a href="{% url 'login' %}">Login</a>
  <br>
  <a href="{% url 'register' %}">Register</a>
  {% endblock contents %}

  {% block js_extras %}
  {% endblock js_extras %}

  <script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>

</html>