{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page_title }}</title>
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap-icons.css' %}">
  {% block header_extras %}{% endblock header_extras %}
</head>

<body>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'dashboard:index' %}">SmartphoneDSS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% block navbar_user %}
            <a class="nav-link fw-bold" aria-current="page" href="{% url 'login' %}">Masuk</a>
            <a class="nav-link" href="{% url 'register' %}">Daftar</a>
          {% endblock navbar_user %}
        </div>
      </div>
    </div>
  </nav>

  {% block contents %}
  {% endblock contents %}

  {% block js_extras %}
  {% endblock js_extras %}

  <script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>

</html>