{% extends 'index.html' %}

{% block contents %}
<div class="card container-fluid col-sm-8 col-lg-6 px-0">
   <h3 class="card-header text-center">Login</h3>
   <div class="card-body">
      <form action="" method="post">
         {% csrf_token %}
         <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" placeholder="">
            <div class="form-group">
               <label for="password">Password</label>
               <input type="password" class="form-control" name="password" id="password" placeholder="">
            </div>
         </div>
         <button type="submit" class="btn btn-primary mt-2">Login</button>
      </form>
      <p class="fs-6 text-center">Belum punya akun? <a href="{% url 'register' %}">Daftar</a></p>
   </div>
</div>

{% endblock contents %}