{% extends 'dashboard.html' %}

{% block contents %}

{% if form_result is not None %}
<p>{{ form_result }}</p>
{% endif %}

<div class="card container col-xs-12 col-md-10 m-auto">
   <h3 class="card-title text-center my-2">Registrasi Preferensi Smartphone</h3>
   <div class="instruction">
      <p>Anda diminta untuk membandingkan dua atribut smartphone untuk setiap barisnya. Semakin ke ujung, maka semakin penting atribut tersebut bagi Anda.</p>
   </div>
   <div class="pointer d-flex justify-content-around">
      <p>Sangat Penting</p>
      <p>Netral</p>
      <p>Sangat Penting</p>
   </div>
   <hr class="p-0 m-0">
   <div class="m-auto text-center">
      <hr class="m-0 p-0" style="transform: rotate(-90deg);" width="20px">
   </div>
   <form action="#" method="post">
   {% csrf_token %}
      <div class="row d-flex flex-row py-1">
         {% for item in input %}
         <div class="card radio-container d-flex flex-row my-1 py-2" style="background-color:#e8e8e8;">
            <label for="test" class="col-2 mr-2 text-end">{{ item.left }}</label>
            <div class="input-containter px-2 d-flex col-8 justify-content-around">
               {% for value in range_value %}
                  <input value="{{ value }}" type="radio" name="{{ item.name }}" style="border:1px solid red;">
               {% endfor %}
               {% comment %} <input value="-8" type="radio" name="{{ item.name }}">
               <input value="-7" type="radio" name="{{ item.name }}">
               <input value="-6" type="radio" name="{{ item.name }}">
               <input value="-5" type="radio" name="{{ item.name }}">
               <input value="-4" type="radio" name="{{ item.name }}">
               <input value="-3" type="radio" name="{{ item.name }}">
               <input value="-2" type="radio" name="{{ item.name }}">
               <input value="1" type="radio" name="{{ item.name }}" checked>
               <input value="2" type="radio" name="{{ item.name }}">
               <input value="3" type="radio" name="{{ item.name }}">
               <input value="4" type="radio" name="{{ item.name }}">
               <input value="5" type="radio" name="{{ item.name }}">
               <input value="6" type="radio" name="{{ item.name }}">
               <input value="7" type="radio" name="{{ item.name }}">
               <input value="8" type="radio" name="{{ item.name }}">
               <input value="9" type="radio" name="{{ item.name }}"> {% endcomment %}
            </div>
            <label for="test" class="col-2 ml-3 text-start">{{ item.right }}</label>
         </div>
         <div class="m-auto text-center d-flex justify-content-center">
            <hr class="m-0 p-0" style="transform: rotate(-90deg);" width="20px">
         </div>
         {% endfor %}
      <div class="text-center m-auto">
         <hr class="m-0 p-0" style="transform: rotate(-90deg); pb-5 mx-5" width="20px">
      </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
   </form>
</div>
{% endblock contents %}