{% extends 'dashboard.html' %}
{% load static %}

{% block contents %}
<table class="table">
   <thead>
      <tr>
         <td>Nama</td>
         <td>RAM</td>
         <td>CPU</td>
         <td>Storage</td>
         <td>Kamera Utama</td>
         <td>Kamera Depan</td>
         <td>Harga</td>
         <td>Reputasi</td>
         <td>SCORE</td>
         <td>url</td>
      </tr>
   </thead>
   <tbody>
   {% for d in data %}
      <tr>
         <td>{{ d.product_name }}</td>
         <td>{{ d.ram }}</td>
         <td>{{ d.cpu }}</td>
         <td>{{ d.storage }}</td>
         <td>{{ d.main_cam }}</td>
         <td>{{ d.selfie_cam }}</td>
         <td>{{ d.price }}</td>
         <td>{{ d.rank }}</td>
         <td>{{ d.score }}</td>
         <td><a href="{{ d.product_url }}">Link Produk</a></td>
      </tr>
   {% endfor %}
   </tbody>
</table>
{% endblock contents %}
